<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051307066115-jfh03ff3e0vaahnoe3lp2cvod5r0vrhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051307066115-jfh03ff3e0vaahnoe3lp2cvod5r0vrhm</string>
	<key>API_KEY</key>
	<string>AIzaSyAJMZNcdRo1BYUgGjquGhyXEmgEMS-Zl84</string>
	<key>GCM_SENDER_ID</key>
	<string>1051307066115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.Assignment</string>
	<key>PROJECT_ID</key>
	<string>vt6002pj</string>
	<key>STORAGE_BUCKET</key>
	<string>vt6002pj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051307066115:ios:2dfb559cebef92e79adf36</string>
</dict>
</plist>